set_io io_out0_0 B5
set_io io_out0_1 B4
set_io io_out0_2 A2
set_io io_out0_3 A1
set_io io_out0_4 C5
set_io io_out0_5 C4
set_io io_out0_6 B3
set_io io_out0_7 C3

set_io io_out1_0 J15
set_io io_out1_1 G14
set_io io_out1_2 K14

set_io io_out2_0 K15
set_io io_out2_1 M16
set_io io_out2_2 N16

set_io io_jtag_TCK C16
set_io io_jtag_TMS D16
set_io io_jtag_TDI E16
set_io io_jtag_TDO_data F16

set_io clock J3
